matplotlib==3.9.0
pyqtgraph==0.13.7
sounddevice==0.4.7
SpeechRecognition==3.10.4
onnxruntime==1.18.0
onnxruntime-gpu==1.18.0
websocket-client==1.8.0
ctranslate2==4.2.1
faster-whisper==1.0.2
python-osc==1.8.3
